*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  
font-family: 'Open Sans', sans-serif;
}


/* ! -------Header---------- */
header {
    background-color: #D9AFD9;
background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
padding: 1rem;
}



header a img {
    width: 60px;
}

header .sign-in {
    float: right;
    padding-top: 2rem;
    padding-right: 0.5rem;
    color: rgb(122, 17, 17);
}

header .sign-in a {
    color: rgb(122, 17, 17);
    text-decoration: none;
    font-weight: 700;
}

header .sign-in a:hover{
    border-bottom: 2px solid rgb(122, 17, 17);;
}


/* !---- Nav Stick----- */

nav.sticky{
padding: 2rem;
background-color: #FAD961;
background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
text-align: center;
position: sticky;
top: 0;
z-index: 1;

}

nav.sticky a {
    text-decoration: none;
    color: black;
    font-family: 'DynaPuff', cursive;
    margin-right: 0.8rem;
}

nav.sticky a:hover {
    color: white;
}


/* !-----nav banner----- */
nav.banner{
    position: relative;
    line-height: 3rem;
}


nav.banner img{
    width: 100%;
    max-height: calc(100vh-202px);
}

nav.banner .hero{
    position: absolute;
    top: 30%;
    left: 10%;
}

nav.banner .hero h2{
    color: white;
    font-size: 3rem;
    text-shadow: 0px 2px 4px black;
}


nav.banner .hero h3{
    color: rgb(236, 16, 16);
    font-size: 1rem;
    text-shadow: 0px 2px 4px black;
}

nav.banner button{

    padding: 0.7rem;
    border: none;
    outline: none;
    border-radius: 10px;
    font-weight: 700;
    background-color: #D9AFD9;

}

nav.banner button:hover{
    opacity: 0.5;
    cursor: pointer;
}

/*! ----------!main -------*/

main{
    padding: 2rem;
    text-align: justify;
}


/* !slack */

.slack{

    font-size: 2rem;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: rgb(128, 14, 14);
    width: 3rem;
    height: 3rem;
    color: white;
    text-align: center;
    border-radius: 50%;


}

.slack:hover{
    cursor: pointer;
    outline: 2px solid rgb(128, 14, 14);
    outline-offset: 3px;
    
}